openapi: 3.2.0
info:
  title: Discogs User Wantlist API
  version: v2.0.0
  description: '# Overview

    The Discogs API v2.0 is a RESTful interface to Discogs data, allowing developers to build applications for web, desktop, and mobile devices.'
  termsOfService: https://support.discogs.com/hc/articles/360009334593-API-Terms-of-Use
  contact:
    name: Discogs API Support
    url: https://www.discogs.com/forum/topic/1082
    email: api@discogs.com
  license:
    name: API Terms of Use
    url: https://support.discogs.com/hc/articles/360009334593-API-Terms-of-Use
  x-logo:
    url: https://www.discogs.com/images/discogs-white.png
    backgroundColor: '#333333'
  x-providerName: discogs.com
  x-origin:
  - format: markdown
    url: https://www.discogs.com/developers
    version: v2.0
  x-generated-from: documentation
  x-last-validated: '2026-05-29'
servers:
- url: https://api.discogs.com
  description: Production API Server
security:
- DiscogsToken: []
tags:
- name: User Wantlist
  description: Manage a user's wantlist.
paths:
  /users/{username}/wants:
    get:
      tags:
      - User Wantlist
      summary: Discogs Get User Wantlist
      operationId: getUserWantlist
      description: 'Returns the list of releases in a user''s wantlist. Supports pagination.

        If the wantlist is private, authentication as the owner is required.'
      security:
      - DiscogsAuth: []
      parameters:
      - $ref: '#/components/parameters/Username'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of releases in the wantlist.
          headers:
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  wants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Want'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{username}/wants/{release_id}:
    put:
      tags:
      - User Wantlist
      summary: Discogs Add Release to Wantlist
      operationId: addReleaseToWantlist
      description: Add a release to a user's wantlist. Authentication as the owner is required.
      security:
      - DiscogsOAuth: []
        DiscogsTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/Username'
      - $ref: '#/components/parameters/ReleaseId'
      requestBody:
        description: Optional notes and rating for the wantlist item.
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: User notes for this item.
                rating:
                  type: integer
                  description: User's rating for the release (0-5).
                  minimum: 0
                  maximum: 5
                  default: 0
      responses:
        '201':
          description: Release added to wantlist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Want'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - User Wantlist
      summary: Discogs Delete Release from Wantlist
      operationId: deleteReleaseFromWantlist
      description: Delete a release from a user's wantlist. Authentication as the owner is required.
      security:
      - DiscogsOAuth: []
        DiscogsTokenAuth: []
      parameters:
      - $ref: '#/components/parameters/Username'
      - $ref: '#/components/parameters/ReleaseId'
      responses:
        '204':
          description: Release successfully deleted from wantlist.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Pagination:
      type: object
      description: Details for paginated results.
      properties:
        page:
          type: integer
        pages:
          type: integer
        per_page:
          type: integer
        items:
          type: integer
        urls:
          type: object
          properties:
            first:
              type: string
              format: uri
              nullable: true
            prev:
              type: string
              format: uri
              nullable: true
            next:
              type: string
              format: uri
              nullable: true
            last:
              type: string
              format: uri
              nullable: true
    ArtistSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        resource_url:
          type: string
          format: uri
        anv:
          type: string
          nullable: true
        join:
          type: string
          nullable: true
        role:
          type: string
          nullable: true
        tracks:
          type: string
          nullable: true
    Want:
      type: object
      properties:
        id:
          type: integer
        resource_url:
          type: string
          format: uri
        rating:
          type: integer
        notes:
          type: string
          nullable: true
        basic_information:
          $ref: '#/components/schemas/ReleaseSummary'
    LabelSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        resource_url:
          type: string
          format: uri
        catno:
          type: string
          nullable: true
        entity_type:
          type: string
          nullable: true
    ReleaseFormat:
      type: object
      properties:
        name:
          type: string
        qty:
          type: string
        text:
          type: string
          nullable: true
        descriptions:
          type: array
          items:
            type: string
    Error:
      type: object
      properties:
        message:
          type: string
    ReleaseSummary:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        year:
          type: integer
        resource_url:
          type: string
          format: uri
        thumb:
          type: string
          format: uri
        cover_image:
          type: string
          format: uri
        formats:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseFormat'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/LabelSummary'
        artists:
          type: array
          items:
            $ref: '#/components/schemas/ArtistSummary'
        genres:
          type: array
          items:
            type: string
        styles:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Unauthorized. Authentication information is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: You must authenticate to access this resource.
    NotFound:
      description: Not Found. The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found.
  parameters:
    PerPage:
      name: per_page
      in: query
      description: The number of items to return per page.
      schema:
        type: integer
        default: 50
        minimum: 1
        maximum: 100
    Page:
      name: page
      in: query
      description: The page number to return.
      schema:
        type: integer
        default: 1
        minimum: 1
    ReleaseId:
      name: release_id
      in: path
      required: true
      description: The ID of the release.
      schema:
        type: integer
      example: 249504
    Username:
      name: username
      in: path
      required: true
      description: The user's Discogs username.
      schema:
        type: string
      example: rodneyfool
  headers:
    Link:
      description: 'Contains URLs for pagination, compliant with RFC 5988. It provides `first`, `prev`, `next`, and `last` links where applicable.

        '
      schema:
        type: string
        example: <https://api.discogs.com/artists/1/releases?page=2&per_page=75>; rel="next", <https://api.discogs.com/artists/1/releases?page=30&per_page=75>; rel="last"
  securitySchemes:
    DiscogsToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Discogs personal access token in header: ''Discogs token={token}''.'
    DiscogsKeySecret:
      type: apiKey
      in: header
      name: Authorization
      description: 'Discogs consumer key + secret in header: ''Discogs key={key}, secret={secret}''.'
    OAuth1:
      type: oauth2
      description: OAuth 1.0a flow modeled as OAuth2 for tooling. Required for write actions on behalf of other users.
      flows:
        authorizationCode:
          authorizationUrl: https://discogs.com/oauth/authorize
          tokenUrl: https://api.discogs.com/oauth/access_token
          scopes:
            read: Read user data
            write: Write/update user resources
externalDocs:
  description: Discogs Developers Portal
  url: https://www.discogs.com/developers
